In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../pre-miRNAs/vmir_output_filtered.csv')
df

,Rank,Name,Orientation,Start,Apex,Size,Score,Sub,HPs,Rep,HPs.1,Wind.Cnt.Abs.,Wind.Cnt.Rel.,Sequence,mfe,mfeis,class
0,26,MD12,Direct,2310,2348,75,182.5,0,0,1,1,NaN,NaN,TAAATAAATTTTTGGCTTTGTGTGCTGACTCTATCATTATTGGTGG...,-24.900000,-0.996000,Real
1,18,MD13,Direct,2826,2864,79,189.7,0,0,1,1,NaN,NaN,ATGAGAAGTGCTCTGCCTATACAGTTGAACTCGGTACAGAAGTAAA...,-31.900000,-0.886111,Real
2,12,MD56,Direct,9814,9858,91,194.4,1,0,1,3,NaN,NaN,TTTGTTAAATAAAGAAATGTATCTAAAGTTGCGTAGTGATGTGCTA...,-23.600000,-0.944000,Real
3,17,MD65,Direct,11241,11286,89,190.7,0,0,2,2,NaN,NaN,GGGTGATGCGTATTATGACATGGTTGGATATGGTTGATACTAGTTT...,-35.299999,-1.038235,Real
4,3,MD101,Direct,19413,19460,91,218.4,1,0,1,2,NaN,NaN,AGTAGTGTCAGATATAGATTATGTACCACTAAAGTCTGCTACGTGT...,-35.299999,-0.980556,Real
5,86,MD105,Direct,20264,20309,91,149.2,2,0,1,3,NaN,NaN,AATTAGCTATGGATGAATTCATTGAACGGTATAAATTAGAAGGCTA...,-28.000000,-0.933333,Pseudo
6,79,MR6,Reverse,1603,1652,89,152.7,0,0,1,1,NaN,NaN,TAATGGCGATCTCTTCATTAAGTTTAAAGTCACCAACAATATTGAT...,-24.700001,-0.882143,Pseudo
7,16,MR34,Reverse,14989,15028,82,191.4,1,0,2,3,NaN,NaN,GATTCATTTGAGTTATAGTAGGGATGACATTACGTTTTGTATATGC...,-24.100000,-0.860714,Real
8,192,MR40,Reverse,16450,16482,75,121.0,0,0,1,1,NaN,NaN,TGTATTTTTATATAAACCAAAAACTTGTCCATTAGCACACAATGGA...,-19.000000,-0.863636,Real
9,34,MR70,Reverse,26059,26096,80,174.1,1,0,2,3,NaN,NaN,ATTGTGTGAATTTGGACATGTTCTTCAGGCTCATCAACAATTTTAT...,-25.000000,-0.892857,Real

In [19]:
complement_trans = str.maketrans('T', 'U')
for i in range(df.shape[0]):
    seq = df.iloc[i].Sequence
    df.loc[i,'Sequence'] = seq.translate(complement_trans)

df

,Rank,Name,Orientation,Start,Apex,Size,Score,Sub,HPs,Rep,HPs.1,Wind.Cnt.Abs.,Wind.Cnt.Rel.,Sequence,mfe,mfeis,class
0,26,MD12,Direct,2310,2348,75,182.5,0,0,1,1,NaN,NaN,UAAAUAAAUUUUUGGCUUUGUGUGCUGACUCUAUCAUUAUUGGUGG...,-24.900000,-0.996000,Real
1,18,MD13,Direct,2826,2864,79,189.7,0,0,1,1,NaN,NaN,AUGAGAAGUGCUCUGCCUAUACAGUUGAACUCGGUACAGAAGUAAA...,-31.900000,-0.886111,Real
2,12,MD56,Direct,9814,9858,91,194.4,1,0,1,3,NaN,NaN,UUUGUUAAAUAAAGAAAUGUAUCUAAAGUUGCGUAGUGAUGUGCUA...,-23.600000,-0.944000,Real
3,17,MD65,Direct,11241,11286,89,190.7,0,0,2,2,NaN,NaN,GGGUGAUGCGUAUUAUGACAUGGUUGGAUAUGGUUGAUACUAGUUU...,-35.299999,-1.038235,Real
4,3,MD101,Direct,19413,19460,91,218.4,1,0,1,2,NaN,NaN,AGUAGUGUCAGAUAUAGAUUAUGUACCACUAAAGUCUGCUACGUGU...,-35.299999,-0.980556,Real
5,86,MD105,Direct,20264,20309,91,149.2,2,0,1,3,NaN,NaN,AAUUAGCUAUGGAUGAAUUCAUUGAACGGUAUAAAUUAGAAGGCUA...,-28.000000,-0.933333,Pseudo
6,79,MR6,Reverse,1603,1652,89,152.7,0,0,1,1,NaN,NaN,UAAUGGCGAUCUCUUCAUUAAGUUUAAAGUCACCAACAAUAUUGAU...,-24.700001,-0.882143,Pseudo
7,16,MR34,Reverse,14989,15028,82,191.4,1,0,2,3,NaN,NaN,GAUUCAUUUGAGUUAUAGUAGGGAUGACAUUACGUUUUGUAUAUGC...,-24.100000,-0.860714,Real
8,192,MR40,Reverse,16450,16482,75,121.0,0,0,1,1,NaN,NaN,UGUAUUUUUAUAUAAACCAAAAACUUGUCCAUUAGCACACAAUGGA...,-19.000000,-0.863636,Real
9,34,MR70,Reverse,26059,26096,80,174.1,1,0,2,3,NaN,NaN,AUUGUGUGAAUUUGGACAUGUUCUUCAGGCUCAUCAACAAUUUUAU...,-25.000000,-0.892857,Real

In [20]:
filtered_premirnas = df[df['class'] == 'Real']
filtered_premirnas

,Rank,Name,Orientation,Start,Apex,Size,Score,Sub,HPs,Rep,HPs.1,Wind.Cnt.Abs.,Wind.Cnt.Rel.,Sequence,mfe,mfeis,class
0,26,MD12,Direct,2310,2348,75,182.5,0,0,1,1,NaN,NaN,UAAAUAAAUUUUUGGCUUUGUGUGCUGACUCUAUCAUUAUUGGUGG...,-24.900000,-0.996000,Real
1,18,MD13,Direct,2826,2864,79,189.7,0,0,1,1,NaN,NaN,AUGAGAAGUGCUCUGCCUAUACAGUUGAACUCGGUACAGAAGUAAA...,-31.900000,-0.886111,Real
2,12,MD56,Direct,9814,9858,91,194.4,1,0,1,3,NaN,NaN,UUUGUUAAAUAAAGAAAUGUAUCUAAAGUUGCGUAGUGAUGUGCUA...,-23.600000,-0.944000,Real
3,17,MD65,Direct,11241,11286,89,190.7,0,0,2,2,NaN,NaN,GGGUGAUGCGUAUUAUGACAUGGUUGGAUAUGGUUGAUACUAGUUU...,-35.299999,-1.038235,Real
4,3,MD101,Direct,19413,19460,91,218.4,1,0,1,2,NaN,NaN,AGUAGUGUCAGAUAUAGAUUAUGUACCACUAAAGUCUGCUACGUGU...,-35.299999,-0.980556,Real
7,16,MR34,Reverse,14989,15028,82,191.4,1,0,2,3,NaN,NaN,GAUUCAUUUGAGUUAUAGUAGGGAUGACAUUACGUUUUGUAUAUGC...,-24.100000,-0.860714,Real
8,192,MR40,Reverse,16450,16482,75,121.0,0,0,1,1,NaN,NaN,UGUAUUUUUAUAUAAACCAAAAACUUGUCCAUUAGCACACAAUGGA...,-19.000000,-0.863636,Real
9,34,MR70,Reverse,26059,26096,80,174.1,1,0,2,3,NaN,NaN,AUUGUGUGAAUUUGGACAUGUUCUUCAGGCUCAUCAACAAUUUUAU...,-25.000000,-0.892857,Real

In [9]:
!pip install bs4

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.8/site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.8/site-packages (from beautifulsoup4->bs4) (2.0.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1273 sha256=7139ff5c07327e5dd4deb2418e2dcb8cd3b31419fb225d16e64779f76f85845f
  Stored in directory: /Users/macbook/Library/Caches/pip/wheels/75/78/21/68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [6]:
import requests
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm

In [24]:
import re

def parse_bayes_output(soup_html):
    stem_re = "\d' *stem"
    rna_re = "[AUGC]+"

    seqs = [el.text for el in html_soup.select('tr')[2:]]
    seqs = [(re.findall(rna_re, mirna), re.findall(stem_re, mirna)) for mirna in seqs]
    seqs = [(strand[0], sequence[0][:2]) for strand, sequence in seqs if len(strand) > 0 and len(sequence) > 0]
    
#     output = []
#     for strand_match, sequence_match in seqs:
#         strand = strand_match[0]
#         sequence = sequence_match[0]
#         print(sequence)
#         if len(strand) > 0 and len(sequence) > 0:
#             output.append((strand, sequence))
#         seqs = [(strand[0], sequence[0][:2]) for strand, sequence in seqs if len(strand) > 0 and len(sequence) > 0]
    return list(set(seqs))

In [25]:
mature_bayes_url = "http://mirna.imbb.forth.gr/cgi-bin/MatureBayes/maturebayes.py"
mature_mirnas = []

for i in tqdm(range(filtered_premirnas.shape[0])):
    premirna_seq = filtered_premirnas.iloc[i]['Sequence']
    print(premirna_seq)
    payload = {"single_seq": premirna_seq}
    
    response = requests.post(mature_bayes_url, payload)
    html_soup = BeautifulSoup(response.text, 'html.parser')
    new_mature_mirnas = parse_bayes_output(html_soup)
    mature_mirnas += new_mature_mirnas
    
mature_mirnas = list(set(mature_mirnas))
print(f'Found {len(mature_mirnas)} mature miRNA candidates.')

  0%|          | 0/8 [00:00<?, ?it/s]

UAAAUAAAUUUUUGGCUUUGUGUGCUGACUCUAUCAUUAUUGGUGGAGCUAAACUUAAAGCCUUGAAUUUAGGUG
AUGAGAAGUGCUCUGCCUAUACAGUUGAACUCGGUACAGAAGUAAAUGAGUUCGCCUGUGUUGUGGCAGAUGCUGUCAU
UUUGUUAAAUAAAGAAAUGUAUCUAAAGUUGCGUAGUGAUGUGCUAUUACCUCUUACGCAAUAUAAUAGAUACUUAGCUCUUUAUAAUAAG
GGGUGAUGCGUAUUAUGACAUGGUUGGAUAUGGUUGAUACUAGUUUGUCUGGUUUUAAGCUAAAAGACUGUGUUAUGUAUGCAUCAGCU
AGUAGUGUCAGAUAUAGAUUAUGUACCACUAAAGUCUGCUACGUGUAUAACACGUUGCAAUUUAGGUGGUGCUGUCUGUAGACAUCAUGCU
GAUUCAUUUGAGUUAUAGUAGGGAUGACAUUACGUUUUGUAUAUGCGAAAAGUGCAUCUUGAUCCUCAUAACUCAUUGAAUC
UGUAUUUUUAUAUAAACCAAAAACUUGUCCAUUAGCACACAAUGGAAAACUAAUGGGUGGUUUAUGUGAUUUACA
AUUGUGUGAAUUUGGACAUGUUCUUCAGGCUCAUCAACAAUUUUAUUGUAGAUGAAGAAGGUAACAUGUUCAACACCAGU
Found 23 mature miRNA candidates.

In [26]:
mature_mirnas = pd.DataFrame(mature_mirnas, columns=['sequence', 'strand'])
mature_mirnas

                  sequence strand
0   AUUUUUAUAUAAACCAAAAACU     5'
1   AGUGCAUCUUGAUCCUCAUAAC     3'
2   AUGAAGAAGGUAACAUGUUCAA     3'
3   UCAACAAUUUUAUUGUAGAUGA     5'
4   ACUGUGUUAUGUAUGCAUCAGC     3'
5   UUUUGUAUAUGCGAAAAGUGCA     5'
6   AUACUAGUUUGUCUGGUUUUAA     5'
7   GGUUUUAAGCUAAAAGACUGUG     3'
8   UUACGCAAUAUAAUAGAUACUU     3'
9   CUAUACAGUUGAACUCGGUACA     5'
10  UUAUAGUAGGGAUGACAUUACG     5'
11  UAUGUACCACUAAAGUCUGCUA     5'
12  AAUGAGUUCGCCUGUGUUGUGG     3'
13  CUGCCUAUACAGUUGAACUCGG     5'
14  GAGCUAAACUUAAAGCCUUGAA     3'
15  UUGCAAUUUAGGUGGUGCUGUC     3'
16  ACUCUAUCAUUAUUGGUGGAGC     5'
17  UGUAGAUGAAGAAGGUAACAUG     3'
18  AUGUAUCUAAAGUUGCGUAGUG     5'
19  AACCAAAAACUUGUCCAUUAGC     5'
20  UUUUGGCUUUGUGUGCUGACUC     5'
21  AAUGGGUGGUUUAUGUGAUUUA     3'
22  AUUAUGUACCACUAAAGUCUGC     5'

In [27]:
mature_mirnas.to_csv('mature-mirnas-from-vmir.csv', index=False)