In [36]:
import glob 
sequences_vmir = []
for name in glob.glob('/home/moriarty/Desktop/bioinfproject/ViennaRNA-2.4.18/interfaces/Python3/VMir_hairpins/*'):
    f = open(name)
    k = f.readlines()
    sequences_vmir.append(k[10].split())

In [37]:
import RNA

In [38]:
sequences_vmir

[['ATGCGGAATTATATAGGACAGAATAATCAGCAACACAGTTGCTGATTCTCTTCCTGTTCCAAGCAT'],
 ['TGTGGGTATGGCAATAGAGTTATTAGAGTAAGCAACTGAATTTTCTGCACCAAGTGACATAGTGTAGGCAATGATGGATTGACTAGCTACACTACGTGCCCGCCGAGGAGAATTAGTCTGAGTCTGATAACTAGCGCATATACCTGCA'],
 ['ATTGTGTGAATTTGGACATGTTCTTCAGGCTCATCAACAATTTTATTGTAGATGAAGAAGGTAACATGTTCAACACCAGT'],
 ['GTTTTAATTATGCTTATTATCTTTTGGTTCTCACTTGAACTGCAAGATCATAATGAAAC'],
 ['GGAAGTTCAAGAACTTTACTCTCCAATTTTTCTTATTGTTGCGGCAATAGTGTTTATAACACTTTGCTTCACACTCAAAAGAAAGACAGAATGATTGAACTTTC'],
 ['TAATATCTCTGCTATAGTAACCTGAAAGTCAACGAGATGAAACATCTGTTGTCACTTACTGTACAAGCAAAGCAATATTG'],
 ['CAACTGAAATCTATCAGGCCGGTAGCACACCTTGTAATGGTGTTGAAGGTTTTAATTG'],
 ['GAATTCATTCTGCACAAGAGTAGACTATATATCGTAAACGGAAAAGCGAAAACGTTTATATAGCCCATCTGCCTTGTGTGGTCTGCATGAGTTT'],
 ['GGTTTTATAGCTGGCTTGATTGCCATAGTAATGGTGACAATTATGCTTTGCTGTATGACC'],
 ['TTGAACATGTTACCTTCTTCATCTACAATAAAATTGTTGATGAGCCTGAAGAACATGTCCAA'],
 ['GGCAACTAGCACTCTCCAAGGGTGTTCACTTTGTTTGCAACTTGCTGTTGTTGTTTGTAACAGTTTACTCACACCTTTTGCTCGTTGCT'],
 ['TGCCATTTGTCATGATGGAAAAGCACACTTTCCTCGTGAAGGTGTCTTTGTTTCAAATGGCA'],
 ['GCTGTGACATCAAGGACCTGCCTAAAGAAATCACTGTTGCTACATCACGAACGCTTTCTTATTACAAATTGGGAGCTTCGCAGCGTGTAGCAGGTGACTCAGGTTTTGCTGCATACAGT'],
 ['ACCGCTTCTAGAAAGTGAACTCGTAATCGGAGCTGTGATCCTTCGTGGACATCTTCGTATTGCTGGACACCATCTAGGACGCTGT']]

In [39]:
sequences_vmir = [i[0] for i in sequences_vmir]
import pandas as pd 

df = pd.DataFrame(data = {'sequence': sequences_vmir})
df

                                             sequence
0   ATGCGGAATTATATAGGACAGAATAATCAGCAACACAGTTGCTGAT...
1   TGTGGGTATGGCAATAGAGTTATTAGAGTAAGCAACTGAATTTTCT...
2   ATTGTGTGAATTTGGACATGTTCTTCAGGCTCATCAACAATTTTAT...
3   GTTTTAATTATGCTTATTATCTTTTGGTTCTCACTTGAACTGCAAG...
4   GGAAGTTCAAGAACTTTACTCTCCAATTTTTCTTATTGTTGCGGCA...
5   TAATATCTCTGCTATAGTAACCTGAAAGTCAACGAGATGAAACATC...
6   CAACTGAAATCTATCAGGCCGGTAGCACACCTTGTAATGGTGTTGA...
7   GAATTCATTCTGCACAAGAGTAGACTATATATCGTAAACGGAAAAG...
8   GGTTTTATAGCTGGCTTGATTGCCATAGTAATGGTGACAATTATGC...
9   TTGAACATGTTACCTTCTTCATCTACAATAAAATTGTTGATGAGCC...
10  GGCAACTAGCACTCTCCAAGGGTGTTCACTTTGTTTGCAACTTGCT...
11  TGCCATTTGTCATGATGGAAAAGCACACTTTCCTCGTGAAGGTGTC...
12  GCTGTGACATCAAGGACCTGCCTAAAGAAATCACTGTTGCTACATC...
13  ACCGCTTCTAGAAAGTGAACTCGTAATCGGAGCTGTGATCCTTCGT...

In [40]:
structure_mfe= df['sequence'].apply(RNA.fold)
mfes = [el[1] for el in structure_mfe]
df['mfe'] = mfes
df.head()

                                            sequence        mfe
0  ATGCGGAATTATATAGGACAGAATAATCAGCAACACAGTTGCTGAT... -23.900000
1  TGTGGGTATGGCAATAGAGTTATTAGAGTAAGCAACTGAATTTTCT... -45.400002
2  ATTGTGTGAATTTGGACATGTTCTTCAGGCTCATCAACAATTTTAT... -25.000000
3  GTTTTAATTATGCTTATTATCTTTTGGTTCTCACTTGAACTGCAAG... -12.700000
4  GGAAGTTCAAGAACTTTACTCTCCAATTTTTCTTATTGTTGCGGCA... -24.700001

In [42]:
def mfei_calculation(precursor, mfe):
    g_and_c = (precursor.count('G')+precursor.count('C'))/len(precursor)
    return mfe/len(precursor)/g_and_c
df['mfeis'] = df.apply(lambda x: mfei_calculation(x.sequence,x.mfe), axis=1)
df.head()

                                            sequence        mfe     mfeis
0  ATGCGGAATTATATAGGACAGAATAATCAGCAACACAGTTGCTGAT... -23.900000 -0.919231
1  TGTGGGTATGGCAATAGAGTTATTAGAGTAAGCAACTGAATTTTCT... -45.400002 -0.698462
2  ATTGTGTGAATTTGGACATGTTCTTCAGGCTCATCAACAATTTTAT... -25.000000 -0.892857
3  GTTTTAATTATGCTTATTATCTTTTGGTTCTCACTTGAACTGCAAG... -12.700000 -0.747059
4  GGAAGTTCAAGAACTTTACTCTCCAATTTTTCTTATTGTTGCGGCA... -24.700001 -0.705714

In [44]:
filtered = df[df['mfeis']<-0.85]
listik = filtered.sequence.tolist()
for seq in range(len(listik)):
    listik[seq] = listik[seq].replace('T', 'U')
    
for line in range(len(listik)):
    print('>test', line)
    print(listik[line])

>test 0
AUGCGGAAUUAUAUAGGACAGAAUAAUCAGCAACACAGUUGCUGAUUCUCUUCCUGUUCCAAGCAU
>test 1
AUUGUGUGAAUUUGGACAUGUUCUUCAGGCUCAUCAACAAUUUUAUUGUAGAUGAAGAAGGUAACAUGUUCAACACCAGU
>test 2
GGUUUUAUAGCUGGCUUGAUUGCCAUAGUAAUGGUGACAAUUAUGCUUUGCUGUAUGACC
>test 3
UUGAACAUGUUACCUUCUUCAUCUACAAUAAAAUUGUUGAUGAGCCUGAAGAACAUGUCCAA

In [45]:
classes = ['Real','Real','Real','Pseudo']
filtered['class'] = classes
filtered

<ipython-input-45-589dbd5b77a5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['class'] = classes

,sequence,mfe,mfeis,class
0,ATGCGGAATTATATAGGACAGAATAATCAGCAACACAGTTGCTGAT...,-23.900000,-0.919231,Real
2,ATTGTGTGAATTTGGACATGTTCTTCAGGCTCATCAACAATTTTAT...,-25.000000,-0.892857,Real
8,GGTTTTATAGCTGGCTTGATTGCCATAGTAATGGTGACAATTATGC...,-21.500000,-0.895833,Real
9,TTGAACATGTTACCTTCTTCATCTACAATAAAATTGTTGATGAGCC...,-18.200001,-0.866667,Pseudo

In [46]:
filtered.to_csv(r'/home/moriarty/Desktop/bioinfproject/ViennaRNA-2.4.18/interfaces/Python3/vmir_output_from_S_filtered.csv',index=False)